<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr/>
            <app-servers></app-servers>
            <hr/>
            <input type="text" class="form-control" [(ngModel)]="UserName"/>
            <p>{{UserName}}</p>
            <button class="btn btn-primary" [disabled]="UserName===''" (click)="UserName=''">Reset User</button>

            <hr/>
            <!--<button class="btn btn-primary" (click)="showSecret=!showSecret">Display Details</button>-->
            <button class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>
            <p *ngIf="showSecret">Secret Password-12345</p>
            <div *ngFor="let logItem of log;let i=index"
            [ngStyle]="{backgroundColor:i>=5 ?'blue':'transparent'}"
            [ngClass]="{'white-text':i>=5}">{{ logItem }}</div>
          </div>
    </div>
</div>

